---
title: Git Server for Windows
description:
tags: []
---

<div class="jumbotron">
    <h1>Simple git server for Windows.</h1>
    <p class="lead">Set up your own self hosted git server on <abbr title="Internet Information Services">IIS</abbr> for Windows. Manage users and have full control over your repositories with a nice user friendly graphical interface.</p>

    <a class="btn btn-large btn-success" href="/resources/releases/5_1_0.zip"><i class="icon-download icon-white"></i> Download 5.1.0</a>
    <p class="muted"><small>See the <a href="/changelog/">changelog</a></small></p>

    <div class="ad-center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-5038943826605928" data-ad-slot="5827900901"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</div>

<div class="row-fluid">
    <div class="span4">
        <h2>Simple</h2>
        <p>The <a href="/install/">installation</a> is very easy and you can manage everything from a nice and clean <a href="/screenshots/">graphical interface</a>.</p>
        <p>You can use your current Windows infrastructure and Bonobo Git Server runs on your IIS.</p>
        <p>See the <a href="/features/">demo and features</a>.</p>
    </div>
    <div class="span4">
        <h2>Open</h2>
        <p>Bonobo Git Server is an open-source project as it is licensed with a <a href="https://github.com/jakubgarfield/Bonobo-Git-Server/blob/master/license.md">MIT License</a>.</p>
        <p>The source code is available on <a href="https://github.com/jakubgarfield/Bonobo-Git-Server">github</a> and is very extensible — you can influence its future.</p>
        <p>Contribute and make your feature part of the best git server for Windows.</p>
    </div>
    <div class="span4">
        <h2>Free</h2>
        <p>Bonobo Git Server is a free git server for Windows and it should stay free.</p>
        <p>However, you can still <a href="/frequently-asked-questions/">support the project</a> in multiple ways.</p>
        <p><a href="mailto:&#106;&#097;&#107;&#117;&#098;&#046;&#099;&#104;&#111;&#100;&#111;&#117;&#110;&#115;&#107;&#121;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Let me know</a> if you have any question or idea.</p>
    </div>
</div>
