---
title: Git Server for Windows
description: 
tags: []
---

<div class="jumbotron">
    <h1>Simple Git server for Windows.</h1>
    <p class="lead">Setup your own git server hosted on <abbr title="Internet Information Services">IIS</abbr> for Windows. Manage users and have full control over your repositories with a user friendly graphical interface.</p>
    <a class="btn btn-large btn-success" href="/resources/bin/Bonobo.Git.Server.1.2.0.zip"><i class="icon-download icon-white"></i> Download 1.2.0</a>
    <p class="muted"><small>See the <a href="/changelog/">changelog</a></small></p>
</div>

<hr />

<div class="row-fluid">
    <div class="span4">
        <h2>Simple</h2>
        <p>The <a href="/install/">installation</a> is very easy and all functions are managed with a nice and clean <a href="/features/">graphical interface</a>.</p>
        <p>You can use your current infrastructure and security. Bonobo Git Server runs on your IIS.</p>
        <p>See the list of all <a href="/features/">features</a>.</p>
    </div>
    <div class="span4">
        <h2>Open</h2>
        <p>Bonobo Git Server is an open-source. It is licensed with a <a href="http://opensource.org/licenses/MIT">MIT License</a>.</p>
        <p>All the sources are available on <a href="https://github.com/jakubgarfield/Bonobo-Git-Server">github</a>. The project is very extensible and you can influence where it is heading.</p>
        <p>You are invited to contribute.</p>
    </div>
    <div class="span4">
        <h2>Supported</h2>
        <p>Take your private git server to the next level a get the <a href="/support/">support</a>.</p>
        <p>You can buy support and you can request custom features that suits your specific needs.</p>
        <p>Bonobo Git Server is an <a href="https://github.com/jakubgarfield/Bonobo-Git-Server/commits/master">active</a> project!</p>
    </div>
</div>
