body { padding-top: 20px; padding-bottom: 40px; }
.container-narrow { margin: 0 auto; max-width: 800px; }
.container-narrow > hr { margin: 30px 0; }
.jumbotron { margin: 60px 0 45px 0; text-align: center; }
.jumbotron h1 { font-size: 72px; line-height: 1; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.jumbotron .muted { margin-top: 7px;}
.marketing { margin: 60px 0; }
.marketing p + h4 { margin-top: 28px; }
h3 a.brand  { background:url(/resources/img/git-logo.png) no-repeat 0px 0px; display: block; text-decoration: none; padding-left: 48px; padding-bottom: 3px;}
h3 a.brand:hover  { text-decoration: none; }

.ads { position: absolute; margin-left: 870px;}

.donations { margin: 0 auto; text-align: center;}
.blockchain.stage-begin img { cursor: pointer;}
.paypal { margin-top: 2em; }
.gittip { margin-top: 2em;}
